<div class="config-info">
	<div>
		<h2>Dashboards</h2>
		<div ng-hide="vm.dashboards">Loading...</div>
		<div ng-show="vm.dashboards" ng-repeat="dash in vm.dashboards">
			<h4>{{dash.displayName}} ({{dash.id}})</h4>

			<ul ng-show="dash.tiles">
				<li ng-repeat="tile in dash.tiles">
					{{tile.title}} ({{tile.id}}) <a href="{{tile.embedUrl}}">EmbedUrl</a>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<h2>Reports</h2>
		<div ng-hide="vm.reports">Loading...</div>
		<div ng-show="vm.reports" ng-repeat="report in vm.reports">
			<strong>{{report.name}}</strong> | {{ report.id}} |
			<a href="{{report.embedUrl}}">EmbedUrl</a> | <a href="{{report.webUrl}}">WebUrl</a>
		</div>
	</div>
</div>