<div class="config-error">
	<!-- TODO: Move information to the config page or another separate page - make this page smaller with just a link (that opens in external page) to the config page -->
	<h2>Invalid configuration</h2>

	<div>
		Validate your configuration against the <a href="http://crm-powerbi-viewer.heiigjen.com" target="_blank">documentation</a> and also
		check your configuration against available reports and tiles (<a href="powerBiConfig.html" target="_blank">link</a>).
	</div>
</div>