src/wwwroot/powerBi.css
src/wwwroot/scripts/**/*.js
src/wwwroot/lib/

solutionSrc*/WebResources/**/*.css
solutionSrc*/WebResources/**/*.html
solutionSrc*/WebResources/**/*.js
!solutionSrc*/WebResources/his_/scripts/powerBiConfig.js

.vs/
bower_components/
node_modules/
*.user
project.lock.json
artifacts/
typings/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
