# Ignore Dev Deployment Server
.deployconfig*

# Ignore User Specific App Config
userappconfig.js


[Tt]est/[Rr]esults/

[Dd]ist/
node_modules/
npm-debug.log
npm-debug.log.*

.vs/

#
# From https://raw.githubusercontent.com/github/gitignore/master/Global/VisualStudioCode.gitignore
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#
# From https://github.com/github/gitignore/blob/master/Global/MicrosoftOffice.gitignore
#
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsdx