src/wwwroot/**/*.css
src/wwwroot/scripts/**/*.js

lib/

.vs/
bower_components/
node_modules/
*.user
project.lock.json
artifacts/
typings/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
